* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
originalProject/META-INF/MANIFEST.MF -text
originalProject/feature.xml -text
originalProject/pom.xml -text
/pom.xml -text
referenceProject/META-INF/MANIFEST.MF -text
referenceProject/feature.xml -text
referenceProject/log.txt -text
referenceProject/pom.xml -text
src/main/java/ch/ivyteam/maven/AbstractXmlFileUpdater.java -text
src/main/java/ch/ivyteam/maven/BundleManifestFileUpdater.java -text
src/main/java/ch/ivyteam/maven/FeatureXmlFileUpdater.java -text
src/main/java/ch/ivyteam/maven/LineNumberXmlReader.java -text
src/main/java/ch/ivyteam/maven/PomXmlFileUpdater.java -text
src/main/java/ch/ivyteam/maven/SetMavenAndEclipseVersion.java -text
src/test/java/ch/ivyteam/maven/TestSetMavenAndEclipseVersion.java -text
testProject/META-INF/MANIFEST.MF -text
testProject/pom.xml -text
