* text=auto !eol
maven-version-plugin/.classpath -text
maven-version-plugin/.project -text
maven-version-plugin/.settings/org.eclipse.jdt.core.prefs -text
maven-version-plugin/.settings/org.eclipse.m2e.core.prefs -text
maven-version-plugin/originalProject/Designer.product -text
maven-version-plugin/originalProject/META-INF/MANIFEST.MF -text
maven-version-plugin/originalProject/feature.xml -text
maven-version-plugin/originalProject/pom.xml -text
maven-version-plugin/pom.xml -text
maven-version-plugin/referenceProject/Designer.product -text
maven-version-plugin/referenceProject/META-INF/MANIFEST.MF -text
maven-version-plugin/referenceProject/feature.xml -text
maven-version-plugin/referenceProject/log.txt -text
maven-version-plugin/referenceProject/pom.xml -text
maven-version-plugin/src/main/java/ch/ivyteam/maven/AbstractXmlFileUpdater.java -text
maven-version-plugin/src/main/java/ch/ivyteam/maven/BundleManifestFileUpdater.java -text
maven-version-plugin/src/main/java/ch/ivyteam/maven/FeatureXmlFileUpdater.java -text
maven-version-plugin/src/main/java/ch/ivyteam/maven/IvyArtifactDetector.java -text
maven-version-plugin/src/main/java/ch/ivyteam/maven/LineNumberXmlReader.java -text
maven-version-plugin/src/main/java/ch/ivyteam/maven/PomXmlFileUpdater.java -text
maven-version-plugin/src/main/java/ch/ivyteam/maven/ProductXmlFileUpdater.java -text
maven-version-plugin/src/main/java/ch/ivyteam/maven/SetMavenAndEclipseVersion.java -text
maven-version-plugin/src/test/java/ch/ivyteam/maven/TestSetMavenAndEclipseVersion.java -text
