target/
*/target/

/eclipseWorkspace
/eclipse_workspace
maven-version-plugin/testIvy
maven-version-plugin/testProject
public-api-source-maven-plugin/src/test/resources/test-project-template/bin/*
/testProject
