<contexts>
    <!--
        ***************** Chapter Introduction *********************************
    -->
    <context id="PreferencesDnD">  
        <description>Designer Drag-and-Drop preferences help.</description>
        <topic id="ivy.introduction.preferences.dnd" />
    </context>
    <context id="PreferencesProcessEditor">
        <description>Designer Process Editor preferences help.</description>
        <topic id="ivy.introduction.preferences.processeditor" />
    </context>
    <context id="PreferencesEmail">
        <description>Designer Email preferences help.</description>
        <topic id="ivy.introduction.preferences.email" />
    </context>
    <context id="PreferencesSslClient">
        <description>Designer SSL Client preferences help.</description>
        <topic id="ivy.introduction.preferences.sslclient" />
    </context>
    <context id="PreferencesProcessEngine">
        <description>Designer Process Engine preferences help.</description>
        <topic id="ivy.introduction.preferences.processengine" />
    </context>
    <context id="PreferencesLicence">
        <description>Designer Licence preferences help.</description>
        <topic id="ivy.introduction.preferences.licence" />
    </context>

    <context id="Refactoring">
        <description>Refactoring help.</description>
        <topic id="ivy.wizards.refactoring" />
    </context>
    <context id="CopyWizard">
        <description>Copy wizard help.</description>
        <topic id="ivy.wizards.refactoring.copy" />
        <topic id="ivy.wizards.refactoring" />
    </context>
    <context id="MoveWizard">
        <description>Move wizard help.</description>
        <topic id="ivy.wizards.refactoring.move" />
        <topic id="ivy.wizards.refactoring" />
    </context>
    <context id="RenameWizard">
        <description>Rename wizard help.</description>
        <topic id="ivy.wizards.refactoring.rename" />
        <topic id="ivy.wizards.refactoring" />
    </context>
    <context id="DeleteWizard">
        <description>Rename wizard help.</description>
        <topic id="ivy.wizards.refactoring.delete" />
        <topic id="ivy.wizards.refactoring" />
    </context>
    
    <!--
        ***************** Chapter Process Modelling ****************************
    -->
    <context id="NewProcessGroupWizard">
        <description>New Xpert.ivy Process Group Wizard help.</description>
        <topic id="ivy.wizards.newprocessgroup" />
    </context>
    <context id="NewProcessWizard">
        <description>New Xpert.ivy Process Wizard help.</description>
        <topic id="ivy.wizards.newprocess" />
    </context>
    <context id="ProcessEditor">
        <description>Process Editor help.</description>
        <topic id="ivy.editors.process" />
    </context>
    <context id="InscriptionEditorProcess">
        <description>Process Inscription Dialog help.</description>
        <topic id="ivy.processmodels.process.inscription" />
    </context>    
    
    <!--
        ***************** Chapter Process Elements Reference *******************
    -->
    <context id="InscriptionEditorStartRequest">
        <description>Request Start Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.startrequest" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorDialog">
        <description>Web Page Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.page" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorAlternative">
        <description>Alternative Gateway Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.alternative" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorSplit">
        <description>Split Gateway Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.split" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorJoin">
        <description>Join Gateway Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.join" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorTaskSwitch">
        <description>Task Switch Gateway Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.task" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorTaskSwitchSimple">
        <description>Task Switch Event Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.tasksimple" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorException">
        <description>Exception Start Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.exception" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorEventStart">
        <description>Event Start Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.event" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorIntermediateEventStart">
        <description>Intermediate Event Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.intermediate" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorCallAndWait">
        <description>Call and Wait Intermediate Event Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.callandwait" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>    
    <context id="InscriptionEditorEndPage">
        <description>Process End Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.endpage" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorProcessEnd">
        <description>Process End Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.end" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorStep">
        <description>Script Step Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.step" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorDbStep">
        <description>Database Step Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.dbstep" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorEmail">
        <description>Email Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.email" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorPi">
        <description>PI Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.pi" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorWebServiceCall">
        <description>Web Service Call Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.webservice" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorTrigger">
        <description>Trigger Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.trigger" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorCallSub">
        <description>Call Sub Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.independentsub" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorComposite">
        <description>Composite Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.embeddedsub" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorNote">
        <description>Note Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.note" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorWebserviceStart">
        <description>WS Start Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.wsprocessstart" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorUserDialog">
        <description>User Dialog Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.userdialog" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorRdInitStart">
        <description>RD Start Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.rdinit" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorRdMethodStart">
        <description>RD Method Start Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.rdmethod" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorRdEventStart">
        <description>RD Event Start Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.rdevent" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorRdBroadcastStart">
        <description>RD Broadcast Start Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.rdbroadcast" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorRdStep">
        <description>RD Step Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.rdstep" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorRdFireEvent">
        <description>RD Fire Event Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.rdfireevent" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorRdUiSync">
        <description>Intermediate Event  Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.rduisync" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorRdProcessEnd">
        <description>RD Process End Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.rdend" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    <context id="InscriptionEditorRdExit">
        <description>RD Exit Element Inscription Dialog help.</description>
        <topic id="ivy.processmodels.elements.rdexit" />
        <topic id="ivy.editors.process" />
        <topic id="ivy.processmodels" />
    </context>
    
    <!--
        ***************** Chapter Data Class ******************************************
    -->
    <context id="NewDataClassWizard">
        <description>New Xpert.ivy Data Class Wizard help.</description>
        <topic id="ivy.wizards.newdataclass" />
        <topic id="ivy.editors.dataclass" />
    </context>
    <context id="DataClassEditor">
        <description>Data Class Editor help.</description>
        <topic id="ivy.editors.dataclass" />
    </context>

    <!--
        ***************** Chapter Entity Classes ******************************************
    -->
    <context id="NewEntityClassWizard">
        <description>New Xpert.ivy Entity Class Wizard help.</description>
        <topic id="ivy.wizards.newentityclass" />
        <topic id="ivy.editors.entityclass" />
    </context>
    <context id="EntityClassEditor">
        <description>Entity Class Editor help.</description>
        <topic id="ivy.editors.entityclass" />
    </context>
    
    <!--
        ***************** Chapter Content Management ****************************************
    -->
    <context id="ContentEditor">
        <description>Content Editor help.</description>
        <topic id="ivy.editors.cms" />
    </context>
    <context id="CmsSearch">
        <description>Cms Search help.</description>
        <topic id="ivy.editors.cms.search" />
        <topic id="ivy.editors.cms" />
    </context>
    <context id="CmsTree">
        <description>Cms Tree help.</description>
        <topic id="ivy.editors.cms.tree" />
        <topic id="ivy.editors.cms" />
    </context>
    <context id="CmsSelector">
        <description>Cms Selector help.</description>
        <topic id="ivy.editors.cms.selection" />
        <topic id="ivy.editors.cms" />
    </context>
    <context id="ContentObjectDetails">
        <description>Content Object Details help.</description>
        <topic id="ivy.editors.cms.contentobject" />
        <topic id="ivy.editors.cms" />
    </context>
    <context id="CovEditorString">
        <description>Content Object String Value Editor help.</description>
        <topic id="ivy.cms.valueeditors.string" />
        <topic id="ivy.editors.cms" />
    </context>
    <context id="CovEditorText">
        <description>Content Object Text Value Editor help.</description>
        <topic id="ivy.cms.valueeditors.text" />
        <topic id="ivy.editors.cms" />
    </context>
    <context id="CovEditorImage">
        <description>Content Object Image Value Editor help.</description>
        <topic id="ivy.cms.valueeditors.image" />
        <topic id="ivy.editors.cms" />
    </context>
    <context id="CovEditorEmbedded">
        <description>Content Object Value Editor help.</description>
        <topic id="ivy.cms.valueeditors.document" />
        <topic id="ivy.cms.valueeditors.script" />
        <topic id="ivy.cms.valueeditors.table" />
        <topic id="ivy.cms.valueeditors.page" />
        <topic id="ivy.cms.valueeditors.panel" />
        <topic id="ivy.editors.cms" />
    </context>
    <context id="CmsTreeView">
        <description>Cms Tree View help.</description>
        <topic id="ivy.views.cmstree" />
        <topic id="ivy.editors.cms" />
    </context>
    <context id="ContentObjectView">
        <description>Content Object Details View help.</description>
        <topic id="ivy.views.contentobject" />
        <topic id="ivy.editors.cms" />
    </context>
    
    <!--
        ***************** Chapter Simulation and Debugging *********************
    -->
    <context id="ProcessHistoryView">
        <description>Process History View help.</description>
        <topic id="ivy.views.history" />
        <topic id="ivy.processmodels.debugging" />
    </context>
    <context id="RuntimeLogView">
        <description>Runtime Log View help.</description>
        <topic id="ivy.views.runtimelog" />
        <topic id="ivy.processmodels.debugging" />
    </context>
    <context id="ContentAndFormattingLanguage">
       <description>Content and Formatting Language</description>
       <topic id="ivy.dialogs.contentAndFormattingLanguage" />
    </context>
    
    <!--
        ***************** Chapter RichDialogs **********************************
    -->
    <context id="NewRichDialogWizard">
        <description>New Xpert.ivy User Dialog Wizard help.</description>
        <topic id="ivy.wizards.newuserdialog" />
        <topic id="ivy.richdialogs.processbased" />
    </context>
    <context id="NewEventMappingWizard">
        <description>New Event Mapping Wizard help.</description>
        <topic id="ivy.wizards.neweventmapping" />
        <topic id="ivy.richdialogs.processbased.eventmappings" />
    </context>
    <context id="EventMappingView">
        <description>Event Mapping View help.</description>
        <topic id="ivy.views.eventmapping" />
        <topic id="ivy.richdialogs.processbased.eventmappings" />
    </context>
    <context id="DataBindingView">
        <description>DataBinding View help.</description>
        <topic id="ivy.views.databinding" />
        <topic id="ivy.richdialogs.processbased.databinding" />
    </context>
    <context id="IvyOutlineView">
        <description>IvyOutline View help.</description>
        <topic id="ivy.views.ivyoutline" />
        <topic id="ivy.dnd" />
    </context>
    <context id="RichDialogInterfaceEditor">
        <description>UserDialog Interface Editor help.</description>
        <topic id="ivy.editors.richdialoginterface" />
        <topic id="ivy.richdialogs.processbased" />
    </context>
    <context id="WidgetConfigurationView">
        <description>Widget Configuration View help.</description>
        <topic id="ivy.views.widgetconfiguration" />
    </context>
    <context id="WidgetConfigurationViewTabGeneral">
        <description>Widget Configuration View-Tab General help.</description>
        <topic id="ivy.views.widgetconfiguration.general" />
        <topic id="ivy.views.widgetconfiguration" />
    </context>
    <context id="WidgetConfigurationViewTabStyle">
        <description>Widget Configuration View-Tab Style help.</description>
        <topic id="ivy.views.widgetconfiguration.style" />
        <topic id="ivy.views.widgetconfiguration" />
    </context>
    <context id="WidgetConfigurationViewTabTextIcon">
        <description>Widget Configuration View-Tab Text/Icon help.</description>
        <topic id="ivy.views.widgetconfiguration.texticon" />
        <topic id="ivy.views.widgetconfiguration" />
    </context>
    <context id="WidgetConfigurationViewTabComboBox">
        <description>Widget Configuration View-Tab ComboBox Data help.</description>
        <topic id="ivy.views.widgetconfiguration.combobox" />
        <topic id="ivy.views.widgetconfiguration" />
    </context>
    <context id="WidgetConfigurationViewTabLookupTextField">
        <description>Widget Configuration View-Tab ComboBox Data help.</description>
        <topic id="ivy.views.widgetconfiguration.lookuptextfield" />
        <topic id="ivy.views.widgetconfiguration" />
    </context>
    <context id="WidgetConfigurationViewTabDataBinding">
        <description>Widget Configuration View-Tab DataBinding help.</description>
        <topic id="ivy.views.databinding" />
        <topic id="ivy.views.widgetconfiguration" />
    </context>
    <context id="WidgetConfigurationViewTabTable">
        <description>Widget Configuration View-Tab Table Data help.</description>
        <topic id="ivy.views.widgetconfiguration.table" />
        <topic id="ivy.views.widgetconfiguration" />
    </context>
    <context id="WidgetConfigurationViewTabTree">
        <description>Widget Configuration View-Tab Tree Data help.</description>
        <topic id="ivy.views.widgetconfiguration.tree" />
        <topic id="ivy.views.widgetconfiguration" />
    </context>
    <context id="WidgetConfigurationViewTabTableTree">
        <description>Widget Configuration View-Tab TableTree Data help.</description>
        <topic id="ivy.views.widgetconfiguration.tabletree" />
        <topic id="ivy.views.widgetconfiguration" />
    </context>
    <context id="WidgetConfigurationViewTabValidation">
        <description>Widget Configuration View-Tab Validation Data help.</description>
        <topic id="ivy.views.widgetconfiguration.validation" />
        <topic id="ivy.views.widgetconfiguration" />
    </context>
    
    <context id="RichDialogUserContextConfiguration">
        <description>Rich Dialog User Context Configuration Dialog help.</description>
        <topic id="ivy.richdialog.usercontext" />
        <topic id="ivy.richdialog.usercontext_example" />
        <topic id="ivy.richdialog.uistate" />
        <topic id="ivy.processmodels.elements.richdialog" />
    </context>
    
    <!--
        ***************** Chapter Configuration Management *********************
    -->
    <context id="ConfigurationEditor">
        <description>Configuration Editor help.</description>
        <topic id="ivy.editors.configuration" />
        <topic id="ivy.configuration" />
        <topic id="ivy.editors.configuration.types" />
    </context>
    
    <!--
	***************** Chapter Databases ****************************************
    -->
    <context id="DatabaseConfigurationEditor">
        <description>Database Configurations Editor help.</description>
        <topic id="ivy.editors.database" />
        <topic id="ivy.database" />
    </context>

    <!--
        ***************** Chapter Webservices **********************************
    -->
    <context id="WebserviceConfigurationEditor">
        <description>Webservice Configurations Editor help.</description>
        <topic id="ivy.editors.webservice" />
        <topic id="ivy.webservice" />
    </context>

    <!--
        ***************** Chapter Roles And Users ******************************
    -->
    <context id="RoleEditor">
        <description>Role Editor help.</description>
        <topic id="ivy.editors.role" />
        <topic id="ivy.roles_and_users" />
    </context>
    <context id="UserEditor">
        <description>User Editor help.</description>
        <topic id="ivy.editors.user" />
        <topic id="ivy.roles_and_users" />
    </context>
    
    <!--
        ***************** Chapter Projects ******************************
    -->
    <context id="IvyProjectTreeView">
        <description>Ivy Project View help.</description>
        <topic id="ivy.views.project" />
    </context>
    <context id="NewProjectWizard">
        <description>New Xpert.ivy Project Wizard help.</description>
        <topic id="ivy.wizards.newproject" />
    </context>
    <context id="ProjectConverter">
        <description>Ivy Project Converter help.</description>
        <topic id="ivy.introduction.project.convert" />
    </context>
    <context id="ProjectPreferencesCms">
        <description>Content Management System project preferences help.</description>
        <topic id="ivy.introduction.project.preferences.cms" />
    </context>
    <context id="ProjectPreferencesDataclass">
        <description>Dataclass project preferences help.</description>
        <topic id="ivy.introduction.project.preferences.dataclass" />
    </context>
    <context id="DeploymentDescriptorEditor">
        <description>Project Deployment Descriptor Editor help.</description>
        <topic id="ivy.project.deploymentdescriptor" />
        <topic id="ivy.editors.deploymentdescriptor" />
    </context>

    <context id="ExportWizard">
        <description>Exporting a project help.</description>
        <topic id="ivy.actions.exportproject" />
    </context>
    
    <context id="ImportWizard">
        <description>Importing a project help.</description>
        <topic id="ivy.actions.importproject" />
    </context>

    <!--
        ***************** Chapter Persistence ******************************
    -->
    <context id="PersistenceConfigurationEditor">
        <description>Persistence Configuration Editor</description>
        <topic id="ivy.editors.persistence.configuration" />
        <topic id="ivy.persistence" />
    </context>
    <context id="GenerateSchemaOptionWizardPage">
        <description>Generate database schema options</description>
        <topic id="ivy.wizards.persistence.generate.schema.options" />
        <topic id="ivy.wizards.persistence.generate.schema" />
    </context>
    <context id="GenerateSchemaPreviewWizardPage">
        <description>Generate database schema preview</description>
        <topic id="ivy.wizards.persistence.generate.schema.preview" />
        <topic id="ivy.wizards.persistence.generate.schema" />
    </context>
</contexts>
