<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="%productBlurb"
            name="%productName">
         <property
               name="windowImages"
               value="icons/ivy16.png,icons/ivy32.png,icons/ivy48.png">
         </property>
         <property
               name="aboutImage"
               value="about.gif">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="appName"
               value="%productName">
         </property>
         <property
               name="startupForegroundColor"
               value="575656">
         </property>
         <property
               name="startupMessageRect"
               value="15,225,390,15">
         </property>
         <property
               name="startupProgressRect"
               value="15,245,390,2">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
      
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="intro/ivyIntroContent.xml"
            id="ch.ivyteam.ivy.designer.branding.intro"
            introId="ch.ivyteam.ivy.designer.branding.intro">
         <presentation
               home-page-id="ch.ivyteam.ivy.designer.branding.root"
               standby-page-id="ch.ivyteam.ivy.designer.branding.standby">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="$nl$/intro/styles/html/shared.css">
            </implementation>
            <implementation
                  kind="swt">
            </implementation>
            <launchBar
                  bg="#c6c3e8"
                  location="fastview">
               <!-- pages with relative paths that are not in a plugin (for example in the root folder of the designer) must be redirected with redirect.js -->
               <shortcut
                     icon="intro/images/tutorial_on_small.png"
                     tooltip="Quick Start Tutorial"
                     url="http://org.eclipse.ui.intro/showStandby?partId=org.eclipse.platform.cheatsheet&amp;input=ch.ivyteam.ivy.designer.cheatsheet.quickstart.modeller">
               </shortcut>
               <shortcut
                     icon="intro/images/help_on_small.png"
                     tooltip="Designer Help"
                     url="http://org.eclipse.ui.intro/showHelpTopic?id=/ch.ivyteam.ivy.designer.help/html/DesignerGuide/index.html">
               </shortcut>
               <shortcut
                     icon="intro/images/api_on_small.png"
                     tooltip="Public API"
                     url="http://org.eclipse.ui.intro/showHelpTopic?id=/ch.ivyteam.ivy.designer.help/html/PublicAPI/index.html">
               </shortcut>
               <shortcut
                     icon="intro/images/readme_on_small.png"
                     tooltip="Readme"
                     url="http://org.eclipse.ui.intro/openURL?url=intro/redirects/readme.html&amp;pluginId=ch.ivyteam.ivy.designer.branding&amp;redirect=ReadMe.html">
               </shortcut>
               <shortcut
                     icon="intro/images/new_on_small.png"
                     tooltip="New and Noteworthy"
                     url="http://org.eclipse.ui.intro/openURL?url=intro/redirects/newandnoteworthy.html&amp;pluginId=ch.ivyteam.ivy.designer.branding">
               </shortcut>
               <shortcut
                     icon="intro/images/migrate_on_small.png"
                     tooltip="Migration Notes"
                     url="http://org.eclipse.ui.intro/openURL?url=intro/redirects/migrationnotes.html&amp;pluginId=ch.ivyteam.ivy.designer.branding">
               </shortcut>
               <shortcut
                     icon="intro/images/release_notes_on_small.png"
                     tooltip="Release Notes"
                     url="http://org.eclipse.ui.intro/openURL?url=intro/redirects/releasenotes.html&amp;pluginId=ch.ivyteam.ivy.designer.branding">
               </shortcut>
            </launchBar>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/ivy16.png"
            id="ch.ivyteam.ivy.designer.branding.intro">
      </intro>
      <introProductBinding
            introId="ch.ivyteam.ivy.designer.branding.intro"
            productId="ch.ivyteam.ivy.designer.branding.product">
      </introProductBinding>
   </extension>

</plugin>
