body {
    font-family: arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
}
table {	    
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
table thead tr,
table tbody tr:first-child {
    height: 40px;
    background: hsl(195, 100%, 29%);
    color: white;
}
tbody tr:nth-child(2n + 1) {
    background-color: #f5f5f5;
}
